.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.form {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	background-color: #eaeafa;
}

input {
	font-size: 12px;
  outline: none;
	padding: 10px;
	margin-bottom: 5px;
}

label {
	font-size: 12px;
	margin-right: 8px;
	margin-bottom: 5px;
}
